*{
    background-color: yellow;
}
h1{
    text-align: center;
}
li{
    margin-left: 400px;
    font-weight: 700;
    font-size: 20px;
}
.first{
    display: flex;
    align-items: end;
}
.box1{
    width: 100px;
    height: 100px;
    background-color: darkcyan;
    margin: 40px 30px 20px 30px;
    animation: transform1 3s infinite;
}
@keyframes transform1 {
    0%{
        transform: skewX(30deg);
    }
    50%{
        transform: skewX(-30deg);
    }
    100%{
        transform: skewX(30deg);
    }
}
.box2{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin: 40px 30px 20px 30px;
    animation: transform2 3s infinite;
}
@keyframes transform2 {
    0%{
        transform: skewY(30deg);
    }
    50%{
        transform: skewY(-30deg);
    }
    100%{
        transform: skewY(30deg);
    }
}
.box3{
    width: 100px;
    height: 100px;
    background-color: darkcyan;
    margin: 40px 30px 20px 30px;
    animation: transform3 2s infinite;
}
@keyframes transform3 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box4-1{
    width: 100px;
    height: 100px;
    background-color:darkblue;
    margin: 40px 30px 20px 30px;
    animation: transform4 3s infinite;
}
@keyframes transform4 {
    0%{
        transform: scaleY(1.0);
    }
    50%{
        transform: scaleY(0.5);
    }
    100%{
        transform: scaleY(1.0);
    }
}
.box4-2{
    width: 100px;
    height: 100px;
    background-color:blueviolet;
    margin: 40px 30px 20px 30px;
    animation: transform5 3s infinite;
}
@keyframes transform5 {
    0%{
        transform: scaleX(1.0);
    }
    50%{
        transform: scaleX(0.5);
    }
    100%{
        transform: scaleX(1.0);
    }
}
.box4-3{
    width: 100px;
    height: 100px;
    background-color:darkgreen;
    margin: 40px 30px 20px 30px;
    animation: transform6 3s infinite;
}
@keyframes transform6 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
a{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 70px;
}
